body {
  background-color: rgba(128, 128, 128, 0.432);
}

nav ul li {
  display: inline-block;
  padding-right: 50px;
  font-size: x-large;
  padding: 0 50px;
  color: gold;
}
.nav-right button {
  padding-right: 50px;
}
.container {
  background-color: green;
  padding: 20px;
  /* margin:; */
}
.button-large {
  padding: 15px;
  color: black;
  font-size: large;
  border-radius: 5px;
}
.button-huge {
  padding: 10px;
  background-color: whitesmoke;
  font-size: 20px;
}
.hero-right {
  float: right;
  width: 70%;
}
.hero-left {
  float: left;
  text-transform: capitalize;
  width: 30%;
}
h1 {
  text-align: left;
  color: seagreen;
  margin-left: 30px;
  text-transform: capitalize;
  font-size: xx-large;
}
p {
  text-align: left;
  font-size: 20px;
  margin-left: 50px;
}
.paragraph {
  font-size: xx-large;
}
.image {
  float: left;
  text-align: center;
  background-color: green;
  padding-top: 50px;
  margin-top: 40px;
}
.img1 {
  margin: 10px;
}

.image img {
  width: 250px;
  height: 250px;
  
}
.coverage-left {
  float: left;
  font-size: larger;
  width: 50%;
  padding-left: 100px;
}
.coverage-right {
  float: right;
  padding-bottom: 50px;
  margin-top: 50px;
  padding-right: 100px;
}
.size {
  font-weight: bold;
  text-transform: capitalize;
}
.capitalize {
  font-weight: 900;
}
.increase {
  width: 50%;
}
.center {
  text-align: center;
  text-transform: uppercase;
}
/* .coverage{width:100%;} */
footer ul li{display: inline-block;
 
  font-size: x-large;
  padding: 20px;
  
}